In [7]:

library(bigrquery)
library(lubridate) 

# Store the project ID
project_id = "yhcr-prd-phm-bia-core"

sourcedb <-"yhcr-prd-phm-bia-core.CB_MYSPACE_JDB"

In [10]:
#Using a loop to make the text nuill into actual nulls
#Your loop references this table
#You run this to load the list of tables into the dataframe "table"

sql3 <-paste('select table_name from ' ,sourcedb,'.INFORMATION_SCHEMA.TABLES where table_name like "tbl_%" or table_name  like "cb_%"  ;', sep = "")
tb3 <- bq_project_query(project_id, sql3)

table <- bq_table_download(tb3)
table

     table_name

In [9]:
#This then loops through the data frame until the end
# uses the two variables table[[i, 1]] and table[[i, 2]]
# in the query

for(i in 2:nrow(table)) 
{
# for-loop over columns
#    print(paste0("Table: ", table[[i, 1]]))
#    print(paste0("Table: ", table[[i, 2]]))
    temp_sql_query  <-paste('drop table  ' ,sourcedb,'.',table[[i, 1]] ,';'  , sep = "") 
#    print (temp_sql_query)    
    temp_queried_table <- bq_project_query(project_id, temp_sql_query)
    #section below just brings this back to R 
    #temp_table <- bq_table_download(temp_queried_table)

    #Prints out a confirmation message for each update
    #print(paste0("Done: ", table[[1, 1]],' ', table[[1, 2]]))
    #cat("\n")
}


fred <-paste('Dropped ' ,Sys.time() + hours(1), sep = "")
print (fred)

[1] "Dropped 2024-04-20 10:32:02.154445"